<!DOCTYPE html>
<html>
<head>
  <title>Oglądaj VOD na TVP bez Silverlight!</title>
  <meta charset="utf-8" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style type="text/css">
  .jumbotron { margin-top: 20px; }
  form label { font-size: 24px; }
  </style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <form action="<%= url('/find-video') %>" method="get" role="form">
      <div class="form-group">
        <label for="vod_url">Wpisz adres URL strony filmu z vod.tvp.pl</label>
        <input id="vod_url" name="vod_url" type="text" class="form-control input-lg"
          placeholder="np. http://vod.tvp.pl/seriale/obyczajowe/na-dobre-i-na-zle/wideo/odc-551/14282458"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary btn-lg">Oglądaj!</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
