<form action="<%= url('/find-video') %>" method="get" role="form">
  <div class="form-group">
    <label for="vod_url">Wpisz adres odcinka serialu z vod.tvp.pl</label>
    <input id="vod_url" name="vod_url" type="text" class="form-control input-lg"
      placeholder="np. http://vod.tvp.pl/seriale/obyczajowe/na-dobre-i-na-zle/wideo/odc-551/14282458"/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-block btn-primary btn-lg">Oglądaj!</button>
  </div>
</form>
