<!DOCTYPE html>
<html>
<head>
  <title>Seriale z VOD TVP bez Silverlight</title>
  <meta charset="utf-8" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style type="text/css">
  .jumbotron { margin-top: 20px; }
  form label { font-size: 24px; }
  </style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
<%= yield %>
  </div>
</div>
</body>
</html>
